 # Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Markdown format
- Jupyter Notebook
- Data Science tools
- GitHub 
- Python Code

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. Scala 
4. R
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. PyTorch
3. Keras
4. TensorFlow
5. Scrappy

| Data Science Tools |
| ------------------ |
| R Studio |
| TensorFlow |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
A.H.M.P.S Abesinghe